
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul{
padding: 10px 0px 10px;
}

li{
    list-style-type:disc;
    margin-left: 20px;
    padding:  1px;
}

input[type="button"] {
   /* display: block; */
    width: 80%;
    margin: 20px 0;
    background: #dd9b22;
    font-weight:bolder;
    border: 0;
    padding: 20px;
    font-size: 1.2rem;

  }
  input[type=number] {
   /* display: block; */
    width: 80%;
    margin: 20px 0;
    background: rgba(221, 155, 34,0.70);   
    text-align: center;
    font-weight:bolder;
    border: 0;
    padding: 20px;
    font-size: 1.2rem;
    -moz-appearance: textfield;
    outline: none;

  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type=checkbox] {
    height: 30px;
    width: 30px;
    width: 100%;
  }

  input[type="button2"],
  input[type="number2"],
  select#yeastOption {
      width: 20%;
      margin: 20px 0;
      background: rgba(221, 155, 34, 0.70);
      text-align: center;
      font-weight: bolder;
      border: 0;
      padding: 20px;
      font-size: 1.2rem;
      outline: none;
  }
  
header{
height: 100vh;
background-image: url(./pic/coffee-g18c6eccc8_1280.jpg); 
background-position: 45% center;
background-size: cover;
/* pozycja tekstu heder*/
display: flex;
justify-content: center;
align-items: center;
}

h1{
background-color: #ffffff78;
padding: 30px 20px;
width: 100%;
text-align: center;
text-transform: uppercase;
letter-spacing: 1px;
}

.cookbook{
padding: 20px;    
}
.cookbook p {
    line-height: 1.5;

}
.centered {
  display: flex;
  justify-content: center;
}
.youtube-icon {
  width: 100px; /* Dowolna szerokość */
  height: 100px; /* Dowolna wysokość */
  /* Dodatkowe style */
}
.aaa{
/*  padding: 20px; */
  text-align: center;
  }

.img {
   background-image: url(./pic/coffee-gc95295aa8_1280.jpg); 
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 150px;
   margin: 10px auto;
}
.pic_pizza {
    background-image: url(./pic/pizza-g6b777b82c_1280.jpg); 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin: 10px auto;
 }
 .pic_nap {
  background-image: url(./pic/napolitana.jpg); 
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin: 10px auto;
}


.pic_bread {
    background-image: url(./pic/bread-g297592c72_1280.jpg); 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin: 10px auto;
 }


 .pic_naan {
    background-image: url(./pic/bread-g868565114_1280.jpg); 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin: 10px auto;
 }

 .pic_chapu {
    background-image: url(./pic/khachapuri-g7996b52b7_1280.jpg); 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin: 10px auto;
 }
 
 .pic_dro {
  background-image: url(./pic/streusel-cake-ge1907c4aa_1280.jpg); 
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin: 10px auto;
}
.pic_len {
  background-image: url(./pic/dumplings-gdad7b64d8_1280.jpg); 
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin: 10px auto;
}
.pic_lod {
  background-image: url(./pic/ice-cream-g9fe15ee9a_1280.jpg); 
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin: 10px auto;
}
.pic_soup {
  background-image: url(./pic/soup-g2e3a9da3d_1280.jpg); 
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin: 10px auto;
}
.pic_paczki {
  background-image: url(./pic/IMG_5221.JPG); 
  background-position: center;
  /*background-size: cover; */
  background-size: 100%;
  width: 100%;
  height: 150px;
  margin: 10px auto;
}
.pic_sledzie {
  background-image: url(./pic/sledzie.jpg); 
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin: 10px auto;
}
footer {
    padding: 28px;
    background-color: rgb(231, 166, 68);
    margin-top: 20px;
}

footer p{
    text-align: center;
    line-height: 1.5;
}

@media (min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
    .cookbook {
        width: 50%;
    }
}